body {
    background-color: #fff;
    font-family: "Times New Roman", Times, serif;
};
a {
    color: 51046C; 
}
h1, h2, h6 {
    color: #51046C ;
}

.personaltab {
    background-color: #c5c4c4;
    border-radius: 16px;
    margin: 50 600 50 0;
    position: static;
}
#Border {
    margin: auto;
    border-style: solid;
    border-radius: 16px;
    border-color: #5D5261;
}
h4 {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    border-radius: 16px;
}