body {
    font-family: "Times New Roman", Times, serif;
};

a:link {
    color: #046c59; 
}

a:visited {
    color: #046c28;
}

a:hover {
    color: #046c59;
}

h1, h2, h6 {
    color: #51046C ;
}

#TitluCuprins {
    color: #046c59;
    font-family: fantasy;
}
.personaltab {
    background-color: #c5c4c4;
    border-radius: 16px;
    padding: 2% 2% 2% 2%;
    margin: 1% 5% 1% 1%;
    position: static;
    float: left;
}
#Border {
    border-style: solid;
    border-radius: 16px;
    border-color: #5D5261;
}
h4 {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    border-radius: 16px;
    border-color: #fff;
    border-width: 1cm;
}

